
.cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100px;
    padding: 10px;
}
.botoes{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 15px;
    width: 100px;
    padding: 10px 14px;
}
