body {
    font-family: Arial, sans-serif;
    background-color: #dbdada;
    margin: 8;
    padding: 7;
    color-interpolation-filters: auto;

    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
}
/* Cabeçalho */
.cabecalho h1{
    text-align: center;
    color: #11100e;
    margin-bottom: 30px;
}
.cabecalho{
    justify-content: center;
    width: 200px;
}

/* Lista de produtos */
.lista-produtos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    border: #1d1515;
    
}

.produto {
    background-color: #f0f0eb;
    padding: 15px;
    border-radius: 8px;
}

.produto h3 {
    margin: 0 0 10px;
    color: #0e0f11;
}

/* Formulário */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
h2{
    background-color: #eee7e7;
    width: 200px;
}
