

body {
    font-family: Arial, sans-serif;

    background-color: #afacac;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


main{
    background-color: #a09c9c;
    border-radius: 5px;
}
/* Cabeçalho */


.cabecalho h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #fdf90a;
}

/* Título da seção */
h2 {
    background-color: #a7a1a1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border-radius: px;
    margin-bottom: 10px;
    color: #e6f703;
}

.produto {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0eb;
    padding: 12px;
    border-radius: 8px;
    
    margin-bottom: 10px;
}

.produto h3 {
    margin-bottom: 8px;
    color: #2054bd;
    width: 100%;
    
}

/* Formulário */
.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
label{
    color: #f4f806;

}
button{
    color: #f70303;
}