body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;         
}
/* Cabeçalho */
header{
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;

}
.cabecalho{
    justify-content: center;
    width: 200px;
}
/* formulário principal */
main{
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0,0,0);
    border-radius: 10px;
    
}

form p {
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="number"]{
    width: 100;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
input[type="number"]{
    width: 95px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #005fa3;
}

#resultado{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: green;
}
